/* *{
    margin: 0px;
    padding: 0px;
} */
body{
    height: 100vh;
    display: flex;
flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(132, 111, 85, 0.756);
}
main{
    border: 1px solid black;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: azure;
}
#d1{
    background-color: bisque;
    color: rgb(213, 67, 50);
    border-radius: 10px;
    font-family:Arial, Helvetica, sans-serif;
padding: 2px;
}
#d2{
    background-color: rgb(192, 219, 222);
    border-radius: 10px;
     display: flex;
flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    padding: 2px;
    color: rgb(24, 90, 120);
}
#output{
    color: indianred;
    /* font-family: cursive; */
}
button{
    background-color: rgb(139, 173, 179);
    border-radius: 5px;
}